body { background-color: #3498db; }
p { font-size: 1.2em; }

h1, 
p {
  color: #ddd;
  font-family: 'Droid Sans Mono';
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.chat-window {
  position: relative;
  height:300px;
  padding:5px;
  border:2px solid #ddd;
  border-radius: 7px;
  margin-bottom: 15px;
  overflow: auto;
  font-family: Courier;
  background-color:#33485d;
}

.chat-history {
  height: 86%;
  overflow: auto;
}

.chat-form {
  position: absolute; 
  width: 98%;
  bottom: 0;
  padding: 0;
  border:0;
  margin: 2px;
  background-color: #efefef;
}

.chat-form input {
  border: none;
  border-radius: 0;
  color: #781351;
  background: #33485d;
}

#user1 { color: #01ff70; }
#user1::-webkit-input-placeholder { color: #2ecc40; }
#user2 { color: #ffdc00; }
#user2::-webkit-input-placeholder { color: #ffdc00; }


@media only screen and (max-width: 840px) {
  li, .chat-form input { font-size: 1.2em; }
}
