body {
  /*background: url('http://farm4.static.flickr.com/3432/3700124890_280bb32fa8.jpg') no-repeat center center fixed;*/
  background: url('http://www.ivanbrooker.com/images/full/2013/08/26/image-really-big-sky-background-black-hole-steam-trading_Really_Big_Sky_Background_Black_Hole.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #200020;
}

h1, p {
  color: #CC00CC;
  font-family: 'VT323';
}

p {
  font-size: 1.2em;
}

.chat-window {
  height:300px;
  width: 400px;
  background-color:#000000;
  font-family: Courier;
  border:1px solid #808080;
  border-radius: 7px;
  margin:5px;
  padding:5px;
  overflow: auto;
}

.chat-form {
  background-color: #efefef;

  border:0px;
  margin: 0px;
  padding: 0px;
  position: absolute; 
  bottom: 0;
  width: 95%;
}

.chat-form input {
  color: #781351;
  background: #000000;
  border-radius: 0px;
  border: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

#user1 {
  color: #E62E8A;
}

#user1::-webkit-input-placeholder {
  color: #CF297C;
}

#user2 {
  color: #B82EE6;
}

#user2::-webkit-input-placeholder {
  color: #9325B8;
}